* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #faf8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-image: url(./images/pexels-ruvim-3560044.jpg);
  height: 736px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.select,
.info {
  display: flex;
}
.select-select {
  width: 200px;

  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.select-button {
  border-radius: 4px;
  padding: 10px 7px;
  background: #a8d9f8;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.select-button:hover {
  background: #83bde2;
  transition: all 0.1s linear;
}
.all-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.city {
  font-size: 35px;
  color: #faf8f8;
  font-weight: 300;
}
.temp {
  font-size: 132px;
  height: 150px;
  color: #faf8f8;
}
.desc {
  display: flex;
  width: 120px;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 34px;
  color: #faf8f8;
}
.time-date {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: flex-start;
  padding: 20px 0;
  font-weight: bold;
  color: #c1d1db;
}
.time {
  padding: 7px 0;
}
